{% extends 'base.html' %}

{%block title%}Contact{%endblock title%}

{% block body %}

<div class="container-fluid px-0">
    <img src="/static/image/contact.jpg" class="d-block w-100" alt="...">
</div>
    <div class="container mb-3 py-4">
    <h1 class="text-center"><u>Contact Us</u></h1>

    <!-- forms -->
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
    </div>
      <div class="mb-3">
        <label for="Phone" class="form-label">Phone:</label>
        <input type="Phone" class="form-control" id="Phone" name="Phone" placeholder="Enter your phone Number">
    </div>
      <div class="mb-3">
        <label for="Address" class="form-label">Address:</label>
        <input type="Address" class="form-control" id="Address" name="Address" placeholder ="Enter your Address">
    </div>
    <div class="mb-3">
        <label for="Number of pieces" class="form-label">Number of pieces:</label>
        <input type="Number of pieces" class="form-control" id="Number of pieces"  name="Number of pieces">
    </div>
<!-- button -->
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

{% endblock body %}