{% extends 'base.html' %}

{%block title%}Menu{%endblock title%}

{% block body %}

<div class="container">
    <h1 class="text-center py-4"><u>Our Menu</u></h1>
    <pre class="fs-5 text-center"></pre>
</div>
<hr>
<div class="cointainer py-4 mx-1">
<div class="row">
    <div class="col-lg-4">
        <img src="/static/image/cupcake.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Muffins</h2>
        <h5 class="fw-normal text-center">price:90$</h5>
    </div>
<div class="col-lg-4">
        <img src="/static/image/cake.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Cakes</h2>
        <h5 class="fw-normal text-center">price:80$</h5>
    </div>
<div class="col-lg-4">
        <img src="/static/image/cookies.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Cookies</h2>
        <h5 class="fw-normal text-center">price:70$</h5>
    </div>
    <hr>
<div class="col-lg-4">
        <img src="/static/image/icecream.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Icecreams</h2>
        <h5 class="fw-normal text-center">price:50$</h5>
    </div>
<div class="col-lg-4">
        <img src="/static/image/tea.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Tea</h2>
        <h5 class="fw-normal text-center">price:40$</h5>
    </div>
<div class="col-lg-4">
        <img src="/static/image/milkshakes.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Milkshakes</h2>
        <h5 class="fw-normal text-center">price:80$</h5>
    </div>
    <hr>
<div class="col-lg-4">
        <img src="/static/image/coffee.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Coffees</h2>
        <h5 class="fw-normal text-center">price:60$</h5>
    </div>
<div class="col-lg-4">
        <img src="/static/image/fruitcake.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Fruitcakes</h2>
        <h5 class="fw-normal text-center">price:90$</h5>
    </div>
    <div class="col-lg-4">
        <img src="/static/image/croissant.jpg" class="d-block w-100" alt="..." height="270">
        <h2 class="fw-normal text-center">Croissant</h2>
        <h5 class="fw-normal text-center">price:80$</h5>
    </div>
    <hr>
</div>
</div>

{% endblock body %}